<html class="no-js" lang="vi">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
      user-scalable=0" name="viewport">
  <meta name="revisit-after" content="1 day">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="true">
  <title> Sản phẩm </title>
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">



  <link rel="stylesheet" href="plugins/animate/animate.min.css">

  <link rel="stylesheet" href="plugins/fontawesome/all.css">

  <link href="plugins/webfonts/font.css" rel="stylesheet">
  <link rel="stylesheet" href="plugins/owl.carousel/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="plugins/owl.carousel/owl.theme.default.min.css">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="plugins/uikit/uikit.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

  <!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">

    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="images/logo/nike_PNG18.png" class="logo-top" alt="">
      </a>
      <div class="desk-menu collapse navbar-collapse justify-content-md-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">TRANG CHỦ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SẢN PHẨM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GIỚI THIỆU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIÊN HỆ</a>
          </li>
        </ul>
      </div>


      <div id="offcanvas-flip1" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar" style="background: white;
        width: 100%;">

          <button class="uk-offcanvas-close" style="color:#272727" type="button" uk-close></button>
          <h3 style="font-size: 14px;
          color: #272727;
          text-transform: uppercase;
          margin: 3px 0 30px 0;
          font-weight: 500; letter-spacing: 2px;">MENU</h3>
          <div class="justify-content-md-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">TRANG CHỦ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Product.html">SẢN PHẨM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="introduce.html">GIỚI THIỆU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Contact.html">LIÊN HỆ</a>
              </li>
            </ul>
          </div>

        </div>
      </div>


      <div class="icon-ol">
        <a href="">
          <i class="ti-search"></i>
        </a>
        <a href="#">
          <i class="ti-heart"></i>
        </a>

        <a href="#">
          <i class="ti-shopping-cart"></i>
        </a>
        <button class="navbar-toggler" type="button" uk-toggle="target: #offcanvas-flip1" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    </div>

  </nav>
  <!--  detail product -->
  <main class="">

    <div id="product" class="productDetail-page">

      <!--  menu header seo -->
      <div class="breadcrumb-shop">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
              <ol class="breadcrumb breadcrumb-arrows">
                <li>
                  <a href="#">
                    <span">Trang chủ</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <span>Sản phẩm</span>
                  </a>
                </li>
                <li class="active">
                  <span>
                    <span itemprop="name">Nike Air Max 90</span>
                  </span>
                  <meta itemprop="position" content="3">
                </li>

              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- detail product chính -->
      <div class="container">
        <div class="row product-detail-wrapper">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row product-detail-main pr_style_01">
              <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-gallery">
                  <div class="product-image-detail box__product-gallery
                    scroll hidden-xs">
                    <ul id="sliderproduct" class="site-box-content
                      slide_product">

                      <li class="product-gallery-item gallery-item
                        current " id="imgg1a">
                        <img class="product-image-feature " src="images/detailproduct/1.jpg"
                          alt="Nike Air Max 90 Essential" grape="">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 col-xs-12
                product-content-desc" id="detail-product">
                <div class="product-content-desc-1">
                  <div class="product-title">
                    <h1>Nike Air Max 90 Essential "Grape"</h1>
                    <span id="pro_sku">SKU: S-0015-1</span>
                  </div>
                  <div class="product-price" id="price-preview"><span class="pro-price">4,800,000₫</span></div>
                  <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                    <div class="select clearfix">
                      <div class="selector-wrapper"><label for="product-select-option-0">Màu sắc</label><span
                          class="custom-dropdown custom-dropdown--white"><select class="single-option-selector
                            custom-dropdown__select
                            custom-dropdown__select--white" data-option="option1" id="product-select-option-0">
                            <option value="">Tím</option>
                            <option value="">Xanh</option>
                          </select></span></div>
                      <div class="selector-wrapper"><label for="product-select-option-1">Kích thước</label><span
                          class="custom-dropdown custom-dropdown--white"><select class="single-option-selector
                            custom-dropdown__select
                            custom-dropdown__select--white" data-option="option2" id="product-select-option-1">
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="35">35</option>
                          </select></span></div><select id="product-select" name="id" style="display:none;">
                      </select>
                    </div>
                    <div class="select-swatch clearfix">
                      <div id="variant-swatch-0" class="swatch clearfix" data-option="option1" data-option-index="0">


                        <div class="header" style="background: white;
                          color: #272727;"><span>Tím</span></div>

                        <div class="select-swap">
                          <div data-value="Tím" class="n-sd swatch-element
                            color tim">
                            <input class="variant-0" id="swatch-0-tim" type="radio" name="option1" value="Tím"
                              data-vhandle="tim" checked="">
                            <label class="tim sd" for="swatch-0-tim">
                              <span>Tím</span>
                            </label>

                          </div>
                          <div data-value="Xanh" class="n-sd swatch-element
                            color xanh">
                            <input class="variant-0" id="swatch-0-xanh" type="radio" name="option1" value="Xanh"
                              data-vhandle="xanh">


                            <label class="xanh" for="swatch-0-xanh">
                              <span>Xanh</span>
                            </label>

                          </div>
                        </div>
                      </div>
                      <div id="variant-swatch-1" class="swatch clearfix" data-option="option2" data-option-index="1">


                        <div class="select-swap">
                          <div data-value="36" class="n-sd swatch-element
                            36">
                            <input class="variant-1" id="swatch-1-36" type="radio" name="option2" value="36"
                              data-vhandle="36" checked="">

                            <label for="swatch-1-36" class="sd">
                              <span>36</span>
                            </label>

                          </div>
                          <div data-value="37" class="n-sd swatch-element
                            37">
                            <input class="variant-1" id="swatch-1-37" type="radio" name="option2" value="37"
                              data-vhandle="37">

                            <label for="swatch-1-37">
                              <span>37</span>
                            </label>

                          </div>
                          <div data-value="38" class="n-sd swatch-element
                            38">
                            <input class="variant-1" id="swatch-1-38" type="radio" name="option2" value="38"
                              data-vhandle="38">

                            <label for="swatch-1-38">
                              <span>38</span>
                            </label>

                          </div>
                          <div data-value="35" class="n-sd swatch-element 35
                            soldout">
                            <input class="variant-1" id="swatch-1-35" type="radio" name="option2" value="35"
                              data-vhandle="35" disabled="">

                            <label for="swatch-1-35">
                              <span>35</span>
                            </label>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="selector-actions">
                      <div class="quantity-area clearfix">
                        <input type="button" value="-" class="qty-btn">
                        <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                        <input type="button" value="+" class="qty-btn">
                      </div>
                      <div class="wrap-addcart clearfix">
                        <div class="row-flex">
                          <button type="button" class="button btn-addtocart addtocart-modal">Thêm
                            vào</button>
                          <button type="button" class="buy-now button" style="display: block;">Mua
                            ngay</button>

                        </div>



                      </div>
                    </div>

                  </form>
                  <div class="product-description">
                    <div class="title-bl">
                      <h2>Mô tả</h2>
                    </div>
                    <div class="description-content">
                      <div class="description-productdetail">
                        <p><span>Hiện đại và thời trang khi diện item mới
                            của Nike. Màu sắc lạ mắt, chất liệu
                            thoáng mát, nhẹ nhàng, phù hợp với những chàng
                            trai yêu phong cách
                            sports.</span><br><br></p>
                        <ul>
                          <li>Chất liệu cao cấp EVA, PU, Cushlon, Phylon.</li>
                          <li>Bền, chống bám bẩn, dễ dàng lau chùi. Mũi giày
                            đầy đặn, form dáng chuẩn.</li>
                          <li>Bảo vệ đầu ngón chân khi hoạt động. Có lớp lót
                            đệm bên trong.</li>
                          <li>Êm, di chuyển nhiều không bị đau chân. Cổ giày
                            thiết kế đơn giản, vừa vặn.</li>
                          <li>Di chuyển dễ dàng, thoải mái.</li>
                          <li>Đế bằng chất liệu cao su<br></li>
                          <li>Êm ái, độ bám tốt, chống trơn trượt.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-productRelated clearfix">
              <div class="heading-title text-center">
                <h2>Sản phẩm liên quan</h2>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                    <div class="product-block">
                      <div class="product-img fade-box">
                        <a href="#" title="Adidas EQT Cushion ADV" class="img-resize">

                          <img src="images/shoes/shoes fade 1.jpg" alt="Adidas EQT Cushion ADV" class="lazyloaded">
                        </a>

                      </div>
                      <div class="product-detail clearfix">
                        <div class="pro-text">
                          <a style="color: black;
                            font-size: 14px;text-decoration: none;" href="#" title="Adidas EQT Cushion ADV" inspiration
                            pack>
                            Adidas EQT Cushion ADV "North America"
                          </a>
                        </div>
                        <div class="pro-price">
                          <p class="">7,000,000₫</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                    <div class="product-block">
                      <div class="product-img fade-box">
                        <a href="#" title="Adidas Nmd R1" class="img-resize">

                          <img src="images/shoes/shoes fade 2.jpg" alt="Adidas Nmd R1" class="lazyloaded">
                        </a>

                      </div>
                      <div class="product-detail clearfix">
                        <div class="pro-text">
                          <a style="color: black;
                            font-size: 14px;text-decoration: none;" title="Adidas Nmd R1" href="">
                            Adidas Nmd R1 "Villa Exclusive"
                          </a>
                        </div>
                        <div class="pro-price">
                          <p class="">7,000,000₫</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                    <div class="product-block">
                      <div class="product-img fade-box">
                        <a href="#" title="Adidas PW Solar HU NMD" class="img-resize">

                          <img src="images/shoes/shoes fade 3.jpg" alt="Adidas PW Solar HU NMD" class="lazyloaded">
                        </a>

                      </div>
                      <div class="product-detail clearfix">
                        <div class="pro-text">
                          <a style="color: black;
                            font-size: 14px;text-decoration: none;" href="#" title="Adidas PW Solar HU NMD" inspiration
                            pack>
                            Adidas PW Solar HU NMD "Inspiration Pack"
                          </a>
                        </div>
                        <div class="pro-price">
                          <p class="">5,000,000₫</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                    <div class="product-block">
                      <div class="product-img fade-box">
                        <a href="#" title="Adidas Ultraboost W" class="img-resize">

                          <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
                        </a>

                      </div>
                      <div class="product-detail clearfix">
                        <div class="pro-text">
                          <a style="color: black;
                            font-size: 14px;text-decoration: none;" href="#" title="Adidas Ultraboost W" inspiration
                            pack>
                            Adidas Ultraboost W
                          </a>
                        </div>
                        <div class="pro-price">
                          <p class="">5,300,000₫</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </main>
  <!--gallery-->
  <section class="section section-gallery">
    <div class="">
      <div class="hot_sp">
        <h2>
          Khách hàng và Nike-Shoes
        </h2>
      </div>
      <div class="list-gallery clearfix">
        <ul class="shoes-gp">
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/shoes/gallery_item_1.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/shoes/gallery_item_2.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/shoes/gallery_item_3.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/shoes/gallery_item_4.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/shoes/gallery_item_5.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="gallery_item">
              <img class="img-resize" src="images/shoes/gallery_item_6.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="container">
      <div class="">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="footer-col footer-block">
              <h4 class="footer-title">
                Giới thiệu
              </h4>
              <div class="footer-content">
                <p>NIKE-SHOES Xin lưu ý rằng việc giao hàng hiện đang mất nhiều thời gian hơn bình thường. Để kiểm tra
                  trạng thái của đơn đặt hàng, vui lòng truy cập trang đơn đặt hàng của bạn. Cảm ơn vì sự kiên nhẫn
                  của bạn. </p>
                <div class="logo-footer">
                  <img src="images/logo/logo.png" alt="">
                </div>
                <div class="social-list">
                  <a href="#" class="ti-facebook"></a>
                  <a href="#" class="ti-google"></a>
                  <a href="#" class="ti-twitter"></a>
                  <a href="#" class="ti-youtube"></a>
                  <a href="#" class="ti-skype"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="footer-col footer-link">
              <h4 class="footer-title">
                PHÁP LÝ &amp; CÂU HỎI
              </h4>
              <div class="footer-content toggle-footer">
                <ul>
                  <li class="item">
                    <a href="#">Tìm kiếm</a>
                  </li>
                  <li class="item">
                    <a href="#">Giới thiệu</a>
                  </li>
                  <li class="item">
                    <a href="#">Chính sách đổi trả</a>
                  </li>
                  <li class="item">
                    <a href="#">Chính sách bảo mật</a>
                  </li>
                  <li class="item">
                    <a href="#">Điều khoản dịch vụ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="footer-col footer-block">
              <h4 class="footer-title">
                Thông tin liên hệ
              </h4>
              <div class="footer-content toggle-footer">
                <ul>
                  <li><span>Địa chỉ:</span> Phố Lê Bồi, Lam Sơn, Thọ Xuân, Thanh Hóa, Vietnam</li>
                  <li><span>Điện thoại:</span> +84 (028) 38800659</li>
                  <li><span>Fax:</span> +84 (028) 38800659</li>
                  <li><span>Mail:</span> nikeshoes@gmail.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-footer--copyright">
      <div class="container">
        <hr>
        <div class="main-footer--border text-center pb-2">
          <p>Copyright © 2021 <a href="https://runner-inn.myharavan.com"> Nike Shoes</a>.
        </div>
      </div>
    </div>
  </footer>
  <script async defer crossorigin="anonymous" src="plugins/sdk.js"></script>
  <script src="plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="plugins/bootstrap/popper.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/owl.carousel/owl.carousel.min.js"></script>
  <script src="plugins/uikit/uikit.min.js"></script>
  <script src="plugins/uikit/uikit-icons.min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/home.js"></script>

  <!-- <script src="js/divzoom.js"></script> -->
</body>

</html>