<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="fonts_icon/themify-icons.css">
  <link rel="stylesheet" href="plugins/uikit/uikit.min.css" />

  <title>Runner</title>

</head>

<body>

  <!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">

    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="images/logo/nike_PNG18.png" class="logo-top" alt="">
      </a>
      <div class="desk-menu collapse navbar-collapse justify-content-md-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">TRANG CHỦ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SẢN PHẨM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GIỚI THIỆU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIÊN HỆ</a>
          </li>
        </ul>
      </div>


      <div id="offcanvas-flip1" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar" style="background: white;
        width: 100%;">

          <button class="uk-offcanvas-close" style="color:#272727" type="button" uk-close></button>
          <h3 style="font-size: 14px;
          color: #272727;
          text-transform: uppercase;
          margin: 3px 0 30px 0;
          font-weight: 500; letter-spacing: 2px;">MENU</h3>
          <div class="justify-content-md-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">TRANG CHỦ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Product.html">SẢN PHẨM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="introduce.html">GIỚI THIỆU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Contact.html">LIÊN HỆ</a>
              </li>
            </ul>
          </div>

        </div>
      </div>


      <div class="icon-ol">
        <a href="">
          <i class="ti-search"></i>
        </a>
        <a href="#">
          <i class="ti-heart"></i>
        </a>

        <a href="#">
          <i class="ti-shopping-cart"></i>
        </a>
        <button class="navbar-toggler" type="button" uk-toggle="target: #offcanvas-flip1" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
  <!-- Owl-Carousel -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/slider/sli-1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/slider/nike-just-do-it.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <!--Content-->
  <div class="content">
    <div class="container">
      <div class="hot_sp">
        <h2>
          Sản Phẩm
        </h2>
      </div>
    </div>
    <!--Product-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title="Adidas EQT Cushion ADV" class="img-resize">
                <img src="images/shoes/shoes fade 1.jpg" alt="Adidas EQT Cushion ADV" class="lazyloaded">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a href="#" title="Adidas EQT Cushion ADV" inspiration pack>
                  Adidas EQT Cushion ADV "North America"
                </a>
              </div>
              <div class="pro-price">
                <p class="">7,000,000₫</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title="Adidas Nmd R1" class="img-resize">

                <img src="images/shoes/shoes fade 2.jpg" alt="Adidas Nmd R1" class="lazyloaded">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a title="Adidas Nmd R1" href="">
                  Adidas Nmd R1 "Villa Exclusive"
                </a>
              </div>
              <div class="pro-price">
                <p class="">7,000,000₫</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title="Adidas PW Solar HU NMD" class="img-resize">

                <img src="images/shoes/shoes fade 3.jpg" alt="Adidas PW Solar HU NMD" class="lazyloaded">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a href="#" title="Adidas PW Solar HU NMD" inspiration pack>
                  Adidas PW Solar HU NMD "Inspiration Pack"
                </a>
              </div>
              <div class="pro-price">
                <p class="">5,000,000₫</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title="Adidas Ultraboost W" class="img-resize">

                <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a href="#" title="Adidas Ultraboost W" inspiration pack>
                  Adidas Ultraboost W
                </a>
              </div>
              <div class="pro-price">
                <p class="">5,300,000₫</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title="Adidas Yeezy boost 350 v2" class="img-resize">

                <img class="lazyloaded" src="images/shoes/shoes fade 5.jpg" alt="Adidas Yeezy boost 350 v2">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a href="#" title="Adidas Yeezy boost 350 v2" inspiration pack>

                  Adidas Yeezy boost 350 v2 "zebra"

                </a>
              </div>
              <div class="pro-price">
                <p class="">6,000,000₫</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title="Adidas Yeezy Boost 700" class="img-resize">

                <img class="lazyloaded" src="images/shoes/shoes fade 6.jpg" alt="Adidas Yeezy Boost 700">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a href="">
                  Adidas Yeezy Boost 700 "Wave Runner"
                </a>
              </div>
              <div class="pro-price">
                <p class="">6,800,000₫</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title="Adidas Zx 4000 4d" class="img-resize">

                <img class="lazyloaded" src="images/shoes/shoes fade 7.jpg" alt="Adidas Zx 4000 4d">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a href="#" title="Adidas Zx 4000 4d" inspiration pack>
                  Adidas Zx 4000 4d
                </a>
              </div>
              <div class="pro-price">
                <p class="">6,400,000₫</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-6">
          <div class="product-block">
            <div class="product-img fade-box">
              <a href="#" title=" Ultra Boost" class="img-resize">

                <img class="lazyloaded" src="images/shoes/shoes fade 8.jpg" alt=" Ultra Boost">
              </a>

            </div>
            <div class="product-detail clearfix">
              <div class="pro-text">
                <a href="#" title="Adidas EQT Cushion ADV" inspiration pack>
                  Ultra Boost
                </a>
              </div>
              <div class="pro-price">
                <p class="">4,700,000₫</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="content">
        <div class="container">
          <div class="hot_sp">
            <h2>
              Sản phẩm mới
            </h2>
          </div>
        </div>
        <!--Product-->
      </div>
      <div class="container product" style="width: 100%;margin: auto;">
        <div class="owl-carousel owl-theme owl-product-setting">
          <div class="item">
            <div class="">
              <div class="product-block">
                <div class="product-img fade-box">
                  <a href="#" title="Adidas Ultraboost W" class="img-resize">

                    <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
                  </a>

                </div>
                <div class="product-detail clearfix">
                  <div class="pro-text">
                    <a href="#" title="Adidas Ultraboost W" inspiration pack>
                      Adidas Ultraboost W
                    </a>
                  </div>
                  <div class="pro-price">
                    <p class="">5,300,000₫</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="">
              <div class="product-block">
                <div class="product-img fade-box">
                  <a href="#" title="Adidas Ultraboost W" class="img-resize">

                    <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
                  </a>

                </div>
                <div class="product-detail clearfix">
                  <div class="pro-text">
                    <a href="#" title="Adidas Ultraboost W" inspiration pack>
                      Adidas Ultraboost W
                    </a>
                  </div>
                  <div class="pro-price">
                    <p class="">5,300,000₫</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="">
              <div class="product-block">
                <div class="product-img fade-box">
                  <a href="#" title="Adidas Ultraboost W" class="img-resize">

                    <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
                  </a>

                </div>
                <div class="product-detail clearfix">
                  <div class="pro-text">
                    <a href="#" title="Adidas Ultraboost W" inspiration pack>
                      Adidas Ultraboost W
                    </a>
                  </div>
                  <div class="pro-price">
                    <p class="">5,300,000₫</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="">
              <div class="product-block">
                <div class="product-img fade-box">
                  <a href="#" title="Adidas Ultraboost W" class="img-resize">

                    <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
                  </a>

                </div>
                <div class="product-detail clearfix">
                  <div class="pro-text">
                    <a href="#" title="Adidas Ultraboost W" inspiration pack>
                      Adidas Ultraboost W
                    </a>
                  </div>
                  <div class="pro-price">
                    <p class="">5,300,000₫</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="">
              <div class="product-block">
                <div class="product-img fade-box">
                  <a href="#" title="Adidas Ultraboost W" class="img-resize">

                    <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
                  </a>

                </div>
                <div class="product-detail clearfix">
                  <div class="pro-text">
                    <a href="#" title="Adidas Ultraboost W" inspiration pack>
                      Adidas Ultraboost W
                    </a>
                  </div>
                  <div class="pro-price">
                    <p class="">5,300,000₫</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="">
              <div class="product-block">
                <div class="product-img fade-box">
                  <a href="#" title="Adidas Ultraboost W" class="img-resize">

                    <img src="images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
                  </a>

                </div>
                <div class="product-detail clearfix">
                  <div class="pro-text">
                    <a href="#" title="Adidas Ultraboost W" inspiration pack>
                      Adidas Ultraboost W
                    </a>
                  </div>
                  <div class="pro-price">
                    <p class="">5,300,000₫</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="section section-gallery">
      <div class="">
        <div class="hot_sp">
          <h2>
            Khách hàng và Nike-Shoes
          </h2>
        </div>
        <div class="list-gallery clearfix">
          <ul class="shoes-gp">
            <li>
              <div class="gallery_item">
                <img class="img-resize" src="images/shoes/gallery_item_1.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="gallery_item">
                <img class="img-resize" src="images/shoes/gallery_item_2.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="gallery_item">
                <img class="img-resize" src="images/shoes/gallery_item_3.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="gallery_item">
                <img class="img-resize" src="images/shoes/gallery_item_4.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="gallery_item">
                <img class="img-resize" src="images/shoes/gallery_item_5.jpg" alt="">
              </div>
            </li>
            <li>
              <div class="gallery_item">
                <img class="img-resize" src="images/shoes/gallery_item_6.jpg" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="container">
        <div class="">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="footer-col footer-block">
                <h4 class="footer-title">
                  Giới thiệu
                </h4>
                <div class="footer-content">
                  <p>NIKE-SHOES Xin lưu ý rằng việc giao hàng hiện đang mất nhiều thời gian hơn bình thường. Để kiểm tra
                    trạng thái của đơn đặt hàng, vui lòng truy cập trang đơn đặt hàng của bạn. Cảm ơn vì sự kiên nhẫn
                    của bạn. </p>
                  <div class="logo-footer">
                    <img src="images/logo/logo.png" alt="">
                  </div>
                  <div class="social-list">
                    <a href="#" class="ti-facebook"></a>
                    <a href="#" class="ti-google"></a>
                    <a href="#" class="ti-twitter"></a>
                    <a href="#" class="ti-youtube"></a>
                    <a href="#" class="ti-skype"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="footer-col footer-link">
                <h4 class="footer-title">
                  PHÁP LÝ &amp; CÂU HỎI
                </h4>
                <div class="footer-content toggle-footer">
                  <ul>
                    <li class="item">
                      <a href="#">Tìm kiếm</a>
                    </li>
                    <li class="item">
                      <a href="#">Giới thiệu</a>
                    </li>
                    <li class="item">
                      <a href="#">Chính sách đổi trả</a>
                    </li>
                    <li class="item">
                      <a href="#">Chính sách bảo mật</a>
                    </li>
                    <li class="item">
                      <a href="#">Điều khoản dịch vụ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="footer-col footer-block">
                <h4 class="footer-title">
                  Thông tin liên hệ
                </h4>
                <div class="footer-content toggle-footer">
                  <ul>
                    <li><span>Địa chỉ:</span> Phố Lê Bồi, Lam Sơn, Thọ Xuân, Thanh Hóa, Vietnam</li>
                    <li><span>Điện thoại:</span> +84 (028) 38800659</li>
                    <li><span>Fax:</span> +84 (028) 38800659</li>
                    <li><span>Mail:</span> nikeshoes@gmail.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer--copyright">
        <div class="container">
          <hr>
          <div class="main-footer--border text-center pb-2">
            <p>Copyright © 2021</p> <a href="https://runner-inn.myharavan.com"> Nike Shoes</a>.
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/owl.carousel/owl.carousel.min.js"></script>
  <script src="js/home.js"></script>
  <script src="js/script.js"></script>
  <script src="plugins/uikit/uikit.min.js"></script>
  <script src="plugins/uikit/uikit-icons.min.js"></script>
</body>

</html>